* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chicken Quiche', sans-serif;
    background-image: url(img/fondoo.jpg);
    background-size: cover;
}   
.header {
    position: fixed;
    height: 80px;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-bottom: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo img {
    height: 80px;
    line-height: 80px;
    margin-left: 80%;
}
.nav-menu{
    display: flex;
    margin-right: 80px;
    list-style: none;
}
.nav-menu-item{
    font-size: 30px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0, 20px;
    border-radius: 3px;
    color: rgb(16, 70, 141);
}
.nav-menu-link:hover {
    background-color: coral;
    transition: .3s;
    border-radius: 5px;
    margin: 10px;
}
.open-menu, .close-menu{
    display: none;
}

.banner {
    position: relative;
    height: 90vh;
    width: 100%;
    margin: 10px auto ;
    border-radius: 15px;

}

.banner .banner-video {
    position: absolute;
    width: 100%;
    padding: 10px;
}
.ban-gf{
    position: relative;
    height: 90vh;
    top: 90px;
    margin: 0 0 0 40px;
}
.ban-gf img{
    position:relative;
    display: flex;
    height: 80vh;
    margin: 0 auto;
    padding: 10px;
}

.extr{
    position: relative;
    height: 30vh;
    width: 70%;
    background: rgba(252, 252, 252, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    margin: 20px auto;
}

.extr h3 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.extr p{
    padding: 15px;
    font-size: 20px;
}

.reel-card{
    position: relative;
    height: 60vh;
    width: 95%;
    margin: 0 auto;
    margin-top: 30vh;
}

.box-reel .reel-card {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.reel-card  .card{
    width: 33% !important;
    border-radius: 15px;
    background: rgba(252, 252, 252, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid coral;

}
.card iframe {
    height: 80%;
    border-radius: 15px;
    margin:  10px;
}


.carousel  {
    height: 70vh;
    width: 100%;
    margin: 15px auto;
    padding: 15px;
    
}
.carousel   .carousel-item{
    height: 100%;
}

.carousel-inner{
    height: 100%;
    border-radius: 15px;
}
.carousel  .video {
    height: 100%;
    width: 100% !important;
}

.box-foo {
    height: 35vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(252, 252, 252, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid coral;
}

.btn-footer .btn {
    margin: 0 15px; 
    justify-content: space-between;
}
.btn-title .text-btn{
    text-transform: uppercase;
    font-weight: bold;
}

.box-foo .box-text-dr, .btn-title .text-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-text-dr .text-dr {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.box-footer .nav-item {
    font-size: 24px;
    
}

.box-footer .nav-item .nav-link {
    color: white !important;
    
}
.foo { 
    margin: 0 10px;
    background: rgb(255, 255, 255);
    border: 1.5px solid rgba(3, 4, 7, 0.3);
    border-radius: 40px;
}
.foo-1:hover{
    background-color: rgb(255, 255, 255);
}
.foo-2:hover{
    background-color: rgb(255, 255, 255);
}
.foo-3:hover{
    background-color: rgb(255, 255, 255);
}
.foo-4:hover{
    background-color: rgb(1, 170, 38);
}
.foo-5:hover{
    background-color: rgb(235, 13, 13);
}

.foo-1 i:hover{
    transform:scale(1.7);
    transition: 1s ease-in-out; 
}
.foo-2 i:hover{
    transform:scale(1.7);
    transition: 1s ease-in-out; 
}
.foo-3 i:hover{
    transform:scale(1.7);
    transition: 1s ease-in-out; 
}
.foo-4 i:hover{
    transform:scale(1.7);
    transition: 1s ease-in-out; 
}
.foo-5 i:hover{
    transform:scale(1.7);
    transition: 1s ease-in-out; 
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}
/*MODO MOVIL*/ 
@media (max-width: 768px) {
    body {
      padding: 0;
      margin: 0;
    }
    .header {
        height: 60px;
    }
    .logo {
        position: absolute;
        left: 50%;
    }
    .logo img {
        height: 60px;
        
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: coral;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.5s ease;
    }
  
    .nav-menu-item {
      line-height: 90px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #fffafa;
    }
  
    .nav-toggle {
      display: block;
      color: coral;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
      color: coral;
    }
    
  }